main {
  min-height: calc(100vh - 160px);
}


.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  height: 180px; 
  object-fit: cover; 
}

.card-body {
  flex: 1 1 auto;
  max-height: 200px; 
  overflow-y: auto; 
  white-space: normal;
}

.card-text {
  font-size: 0.9rem; 
  white-space: normal; 
  text-overflow: clip; 
  overflow: visible;
}

.card-title {
  font-size: 1.1rem;
}

#contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}
